/* HERO PAGE */
section.hero{
  margin-top: 3rem;
}
/* NAVBAR PAGE */
#navbarBurgerMenu{
  margin-right: 2px;
}
img.login-image{
  position: relative;
  
}
div.loginEmoji{
  font-size: 20px;
}
p.modal-card-title{
  text-decoration: underline;
}
/* ABOUT-US PAGE */
div.about-us{
  margin-top: 4rem;
}
/* CART PAGE */
div.cart{
  margin-top: 4rem;
}
/* FRONT PAGE aka MAIN PAGE */

/* PRODUCT PAGE */
div.product{
  margin: 5rem 2rem 1rem 2rem;
}
/* USER ACCOUNT PAGE */
div.user{
  margin-top: 4rem;
}
/* LOGIN PAGE */
div.login{
  margin-top: 4rem;
}
#login-image{
  animation: anim 5s infinite;
}
@keyframes anim {
  0% {transform: translateX(0);}
  100% {transform: translateX(600px);}
  100% {opacity: 0;}
}
@media(max-width: 415px) {
  @keyframes anim {
  0% {transform: translateX(0);}
  100% {transform: translateX(400px)}
  100% {opacity: 0}
}
}

div.loginEmoji{
  font-size: 2rem;
}
p.modal-card-title{
  text-decoration: underline;
}
/* REGISTER PAGE */
div.register{
  margin-top: 4rem;
}
div.SignUpEmoji{
  font-size: 3rem;
  animation: hand 3s infinite;
}
#backToLoginBtn{
  display: flex;
  width: 100%;
  margin-top: 15px;
  flex-direction: row;
  justify-content: center;
}
@keyframes hand {
  0% {transform: translateY(0)}
  20% {transform: translateY(0)}
  40% {transform: translateY(-25px)}
  50% {transform: translateY(0)}
  100% {transform: translateY(0)}
}
/* GEOLOCATION PAGE */
div.geolocation{
  margin-top: 4rem;
}
/* PAYMENT PAGE */
div.payment{
  margin-top: 4rem;
}

@media(max-width: 876px) {
  .modal-card{
    width: 400px;
  }
  .modal-card-body{
    width: 400px;
    height: 200px;
  }
  .modal-card-foot{
    width: 400px;
  }
  #createAccountBtn{
    width: 80px;
  }
  #forgotPasswordBtn{
    width: 250px;
  }
  
}

@media(max-width: 430px) {
  #signUpBtn{
    width: 100px;
    border-radius: 8px;
  }
  #loginBtn{
    width: 100px;
    border-radius: 8px;
  }
}